.choose {
    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    /* padding: 20px; */

    opacity: 0;
    transition: 0.5s allow-discrete;
    display: none;

    /* position: relative;
   */
}

.selection {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;

    display: flex;
    flex-direction: row;

    margin: 20px;
    padding: 10px;
    /* border: 1px solid black; */

    /* glass effect */
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;

    box-sizing: border-box;

    transition: all 0.2s;
    filter: blur(2px);
    opacity: 0;
}

.selection:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform 0.5s;

    cursor: pointer;
}
/* t-shirt deisgn, tote bags, glassware, water bottles, labels, home decor,  */

.selection > * {
    text-align: left;
    /* width: 100%; */
}

.selection h2 {
    /* width: 100%; */
    margin: 0;
}

/* .photo {
  width: 75px;
  height: 75px;
}

.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.desc {
  width: 100%;
  height: 75px;

  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: 10px;
} */

.typeSelect {
  width: max-content;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: 10px;

  background-color: rgba(0, 0, 0, 0.1);
}