header {
	height: auto;
	width: 95vw;

	border-radius: 25px;
	/* background-color: var(--color-quinary); */
	/* background-color: rgba(0, 0, 0, 0.5); */
	color: var(--color-tertiary);
	/* padding: 0 1rem 0 1rem; */
	text-align: center;

	/* display: flex; */
	/* justify-content: space-between; */
	align-items: center;

	position: absolute;
	left: 0;
	right: 0;
	margin: 1rem auto;
	z-index: 1;

	box-sizing: border-box;
}

.name-container {
	display: flex;
	align-items: center;
	max-width: 200px;
	
	margin: 0;
	/* font-size: .75rem; */
}

.name-container h2 {
	margin: 0;
}

.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 0;
	/* padding-right: 1rem; */
	/* margin-right: 1rem; */
}

.links li {
	list-style: none;
	margin-left: 1rem;
}

.center {
	/* position: absolute;
    left: 0;
    right: 0;
    margin: auto; */

	/* width: 100%; */

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 1rem;
}

nav a {
	text-decoration: none;
	color: var(--color-tertiary);
	/* padding: 0.5rem 1rem; */
	border-radius: 5px;

	/* padding: 0.25rem 0.5rem; */
}

.underline {
	width: 0;
	height: 2px;
	background-color: var(--color-tertiary);
	/* position: absolute;
	left: 0;
	right: 0;
	margin: auto; */
	/* transition: width 0.5s; */
}

.underlined {
	position: relative;
	animation: grow-underline 0.25s forwards;
}

@keyframes grow-underline {
	from {
		width: 0;
	}
	to {
		width: 100%;
		/* width: calc(100% - 1rem); */
	}
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.shop,
.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.right svg {
	width: 1.5rem;
	height: 1.5rem;

	fill: var(--color-tertiary);
	z-index: 1;
}

.right svg:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.searchContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	width: 100%;
}

.left {
	display: flex;
	align-items: center;
}

.searchInput {
	outline: none;

	background-color: var(--color-tertiary);
	color: var(--color-primary);
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	border: none;
	/* border-radius: 5px; */
	padding: 0.25rem 0.5rem;
	width: 0px;

	animation: shrinkLeft 0.5s forwards;

	display: none;
}

.searching {
	display: flex;

	animation: growLeft 0.5s forwards;
}

@keyframes shrinkLeft {
	from {
		width: 200px;
	}
	100% {
		width: 0;
	}
}

@keyframes growLeft {
	from {
		width: 0;
	}
	to {
		width: 200px;
	}
}
